body {
    background-image: url('src/backgroundimage.jpg');
}

#myVideo {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.weather {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
    border: 1px solid #C6B9CD;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 370px;
    margin-right: 370px;
    background: linear-gradient(109.6deg, rgb(247, 202, 201) 20.6%, rgb(146, 168, 209) 85.9%);
    font-family: 'Lora', serif;
    color: #0B1F4F;
}

.search {
    margin-left: 20px;
}

.search-icon {
    border-radius: 20px;
    border: 1px solid #C6B9CD;
    color: #0B1F4F;
}

.current {
    margin-right: 20px;
    border: 1px solid #C6B9CD;
    font-weight: bold;
    color: #0B1F4F;
}

.city {
    text-align: left;
    margin-left: 25px;
    padding-bottom: 15px;
    padding-top: 5px;
    font-size: 45px;
    font-weight: bolder;
}

.date-time {
    margin-left: 100px;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: bolder;
}

.weathertemperature {
    border: 1px solid #C6B9CD;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #c6d9f5, #7f92b4);
    background: linear-gradient(to right, #7f92b4, #E0EAFC);
}

#celsius,
#fahrenheit {
    text-decoration: none;
    font-size: smaller;
    color: #0B1F4F;
}

.description {
    padding: 20px;
}

.icon-temperature {
    font-size: 55px;
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
}

.weektemperature {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 25px;
}

#weather-forecast{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.forecast-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    font-weight: bold;
}

.card-title {
    margin: 0 auto;
    margin-top: 5px;
}

.card-icon {
    font-size: 25px;
    margin: 0 auto;
}

.card-temperature {
    margin: 0 auto;
    margin-bottom: 15px;
}

.card-description,
.card-percent {
    font-size: 18px;
    margin: 0;
    padding-bottom: 5px;
    margin-top: 5px;
}

.card-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 0;
}

.card {
    color: #0B1F4F;
    font-weight: bold;
    background: linear-gradient(178.6deg, rgb(232, 245, 253) 3.3%, rgb(252, 253, 255) 109.6%);
    transition: all 200ms ease-in-out;
    box-shadow: 1px 1px 3px;
    border-radius: 35px;
}

.card:hover {
    background-color: white;
    box-shadow: 5px 5px 10px;
}

footer {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: bold;
    color: #C6B9CD;
}

a {
    color: #C6B9CD;
}